.main {
  display: flex;
}

.left-part{
  flex: 0.5;
  margin: 10px;
  
}

.right-part {
  flex: 0.5;
  background: rgb(114, 146, 184);
  height: 800px;
  color: white;
  
}

.right-main {
  height: 80%;
  width: 80%;
  margin: 40px;
  background: white;
  color: black;
}

.right-body {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-left: 5px;
}
